<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8'>
        <meta name='ninjaGold' content='This is an application where you wager your gold into different areas to increase or decrease your gold.'>
        <title>Ninja Gold</title>
        {% load static %}
        <link rel='stylesheet' href='{% static "ninjaG/css/style.css" %}'>
    </head>
    <body>
        <div class='wrapper'>
            <h3 class='yourgold'>Your Gold: {{ gold }}</h3>
            <div class='location'>
                <h2>Farm</h2>
                <p>(earns 10-20 gold)</p>
                <form action='/process_money' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='location' value='farm'>
                    <input type='submit' value='Find Gold!'>
                </form>
            </div>
            <div class='location'>
                <h2>Cave</h2>
                <p>(earns 5-10 gold)</p>
                <form action='/process_money' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='location' value='cave'>
                    <input type='submit' value='Find Gold!'>
                </form>
            </div>
            <div class='location'>
                <h2>House</h2>
                <p>(earns 2-5 gold)</p>
                <form action='/process_money' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='location' value='house'>
                    <input type='submit' value='Find Gold!'>
                </form>
            </div>
            <div class='location'>
                <h2>Casino</h2>
                <p>(earns/takes 0-50 gold)</p>
                <form action='/process_money' method='POST'>
                    {% csrf_token %}
                    <input type='hidden' name='location' value='casino'>
                    <input type='submit' value='Find Gold!'>
                </form>
            </div>
            <div class='message'>
                {% for message in messages %}
                    <p class='{{ colors.0 }}'>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
    </body>
</html>